@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --background-1: #ffffff;
    --overlay-bg: #f5f5f5;
    --passive-hover: #c0c0c0;
    --active-hover: #3D2464;
    --primary: #7839CF;
    --highlight: #636368;
    --text: #000000;
    --regular-border: 8px;
}

body{
    background-color: var(--background-1);
    color: var(--text);
}

a{
    text-decoration: none;
    color: var(--text);
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
    height: 100vh;
}


header{
    grid-area: header;
    display: flex;
    position: sticky;    /* Makes the header sticky */
    top: 0;  
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 40px;
    backdrop-filter: blur(8px);
}

#logo{
    background: linear-gradient(#7839CF, #9250ee, #b381f8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
}

.pages{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    column-gap: 30px;
}

.pages li{
    position: relative;
    transition: ease 0.5s;
}

.pages li a{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 0 12px;
    fill: var(--text);
    transition: 0.5s ease;
}

.pages li a box-icon{
    margin-bottom: 12px;
}

.pages li a:hover{
    color: var(--primary);
    fill: var(--primary);
}

.pages li a.active {
    color: var(--primary);
    fill: var(--primary);
}

.pages li a:hover .box-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.pages li:hover .drop-down{
    display: flex;
}

.drop-down{
    display: none;
    flex-direction: column;
    position: absolute;
    left: -20%;
    list-style: none;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: var(--regular-border);
    text-align: center;
}

#dropdown-link{
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 300;
    padding: 12px;
}


.socials{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 4px;
}

.socials li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: var(--text);
    fill: var(--text);
    border-radius: 30px;
}

.socials li a:hover{
    background-color: var(--passive-hover);
}

#contact{
    padding: 10px 30px;
    border: 1px solid var(--active-hover);
    text-wrap: nowrap;
}

.showsidebar{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 12px;
    fill: var(--text);
    border-radius: 30px;

}.showsidebar:hover{
    background-color: #161920;
    fill: var(--primary);
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

#home-page{
    display: flex;
    position: relative;
    height: 600px;
    overflow: hidden;
}

#home-page img{
    position: absolute;
    right: 50%;
    left: 50%;
    width: 100%;
    transform: rotate(-20deg);
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    position: absolute;
    left: 10%;
    top: 20%;
    opacity: 1;
    transform: translateY(60px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    row-gap: 20px;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: var(--regular-border);
    animation: bounce 0.8s ease forwards;
}


@keyframes bounce {
    0% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
}

.intro h4{
    font-size: 18px;
}

#greetings{
    background: linear-gradient(#7839CF, #9250ee, #b381f8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro h3{
    font-size: 24px;
}

.intro p,
.intro small{
    font-weight: 500;
}

.slideshow{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
}

.designs-link{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    height: auto;
}

#link-title{
    display: flex;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 12px;
    color: var(--primary);
}


#showall{
    display: none;
    align-items: center;
    column-gap: 8px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
}

#showall box-icon{
    margin-bottom: 8px;
}

#showall:hover{
    color: var(--primary);
    fill: var(--primary);
}

.slides{
    display: flex;
    width: 100%;
    height: auto;
    column-gap: 10px;
    overflow: hidden;
    border-radius: var(--regular-border);
}

.slide{
    display: flex;
    min-width: 33%;
    max-width: 250px;
    border-radius: var(--regular-border);
    padding: 8px;
    transition: ease 0.5s;
    overflow: hidden;
}

.slide:hover{
    background-color: var(--overlay-bg);
}

.slide img{
    width: 100%;
    border-radius: var(--regular-border);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.02) translateY(-10px);
    z-index: 2;
}

.slide iframe {
    width: 100%;
}

.slide iframe:hover{
    
}


#about-page,
#blogs-post{
    background-color: var(--primary);
    color: var(--background-1);
    border-radius: var(--regular-border);
    margin: 40px 0;
    padding: 20px 0;
}

#link-about{
    display: flex;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 12px;
    color: var(--background-1);
}


.about{
    display: flex;
    min-height: 700px;
    overflow: hidden;
}

.about div{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.summary-intro .intro{
    color: var(--text);
}

.user-image{
    clip-path: circle();
    object-fit: cover;
    object-position: center;
    position: relative;
}

.user-image img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.skill h2{
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--background-1);
}

.skill ul{
    list-style: none;
    display: flex;
    flex-direction: column;row-gap: 20px;
}

.skill ul li{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    fill: var(--background-1);
}


#section7{
    background-color: var(--primary);
    padding: 20px;
    border-radius: var(--regular-border);
}

#cv{
    background-color: var(--primary);
    padding-bottom: 80px;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}
  
.resume-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
  
.resume-header div {
    flex: 1 1 300px; /* Allows flexibility on smaller screens */
}



.header-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile{
    clip-path: circle();
    object-fit: cover;
    object-position: center;
    position: relative;
    min-width: 200px;
    max-width: 250px;
}

.user-profile img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
    align-items: left;
}
  
.user h1 {
    margin: 0;
    font-size: 30px;
    color: var(--text);
}
  
.user p {
    margin: 5px 0;
    font-size: 16px;
}
  
section {
    margin-bottom: 20px;
}
  
h2 {
    border-bottom: 2px solid var(--primary);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
  
.skill-list{
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px
}
  
li {
    margin-bottom: 10px;
}
  
.job, .degree {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
  
.contact a {
    color: var(--text);
    text-decoration: none;
}
  
.contact a:hover {
    text-decoration: underline;
}







































footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}