@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --background-1: #ffffff;
    --overlay-bg: #f5f5f5;
    --passive-hover: #161920;
    --active-hover: #3D2464;
    --primary: #7839CF;
    --highlight: #636368;
    --text: #000000;
    --regular-border: 8px;
}

body{
    background-color: var(--background-1);
    color: var(--text);
}

a{
    text-decoration: none;
    color: var(--text);
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    width: 100%;
    height: 100vh;
}


header{
    grid-area: header;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 40px;
    backdrop-filter: blur(4px);
}

#logo{
    background: linear-gradient(#7839CF, #9250ee, #b381f8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 700;
}

.pages{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    column-gap: 30px;
}

.pages li{
    position: relative;
    transition: ease 0.5s;
}

.pages li a{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 0 12px;
    fill: var(--text);
    transition: 0.5s ease;
}

.pages li a:hover{
    color: var(--primary);
    fill: var(--primary);
}

.pages li:hover .pages-dropdown{
    display: flex;
}


.pages-dropdown{
    display: none;
    position: absolute;
    left: -30%;
    top: 25px;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    background-color: var(--overlay-bg);
    border-radius: var(--regular-border);
    padding: 20px 0;
}


.pages-dropdown li a{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    text-wrap: nowrap;
    padding: 12px 20px;
    border-radius: var(--regular-border);
    transition: 0.15s ease;
}



.socials{
    display: flex;
    list-style: none;
    column-gap: 4px;
}

.socials li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: var(--text);
    fill: var(--text);
    border-radius: 30px;
}

.socials li a:hover{
    background-color: var(--overlay-bg);
}

#contact{
    padding: 10px 30px;
    border: 1px solid var(--active-hover);
}

.showsidebar{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 12px;
    fill: var(--text);
    border-radius: 30px;

}.showsidebar:hover{
    background-color: #161920;
    fill: var(--primary);
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main1{
    display: flex;
    position: relative;
    height: 600px;
    overflow: hidden;
    border: 1px solid blue;
}

.figma1{
    position: absolute;
    right: -10%;
    top: -30%;
    transform: translate(-50%, -50%);
    width: 60%;
    transform: rotate(-20deg);
}

.figma1 img{
    width: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    position: absolute;
    left: 10%;
    top: 30%;
    row-gap: 20px;
}

.intro h4{
    font-size: 18px;
}

#greetings{
    background: linear-gradient(#7839CF, #9250ee, #b381f8 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro h3{
    font-size: 24px;
}

.intro p,
.intro small{
    font-weight: 500;
}




